h1{
    background-color: blue;
    width: 100px;
    height: 600px;
    color: white;
    text-align: center;
    padding-top: 80px;
    float:left;
    margin-right: 25px;
    margin-top: 0;
}

.info p{
    display: inline;
    padding: 10px;
}

.contact p{
    display: inline;
}

.ability{
    line-height: 1.5rem;
}